<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blog/layout :: head" >
</head>
<body>
<h3>Are Your Sure?</h3>
<p>
    <a th:href="@{/blog/list}">Back to list</a>
</p>
<div>
    <form th:action="@{/blog/delete}" method="post" enctype="multipart/form-data">
        <div>
            <span>ID: </span>
            <input type="text" id="id" name="id" th:value="${blog.id}" readonly>
        </div>
        <div>
            <label>Date: </label>
            <br>
            <input type="date" name="createDate" id="createDate" th:value="${blog.createDate}">
        </div>
        <div>
            <label>Tittle: </label>
            <br>
            <input type="text" name="tittle" id="tittle" th:value="${blog.tittle}">
        </div>
        <div>
            <label>Category:</label>
            <br>
            <input type="text" name="category" id="category" th:value="${blog.category}">
        </div>
        <div>
            <span>Image: </span>
            <input type="file" name="image" id="image" th:text="${blog.image}">
            <img width="50px" height="50px" th:src="@{'/i/' + ${blog.image}}">
        </div>
        <div>
            <label>Content:</label>
            <br>
            <input type="text" name="content" id="content" th:value="${blog.content}">
        </div>
        <div>
            <input type="submit" value="Delete">
        </div>
    </form>
</div>
</body>
</html>